## @see https://github.com/nim-lang/Nim/blob/devel/.gitignore
# setup
*
!*.*
!**/

# ignore
.*/
.DS_Store
.tags
*.dll
*.dSYM
*.dylib
*.exe
*.exp
*.ilk
*.iss
*.lib
*.log
*.mode1v3
*.o
*.obj
*.pbxuser
*.pdb
*.pdb
*.perspective
*.perspectivev3
*.so
*.swp
*.zip
*nimcache
/build/*
/compile.json
/compiler/nim.dot
/csources*
/dist/
/lib/pure/*.js
/outputExpected.txt
/outputGotten.txt
/pkgstemp/**/*
/reject.json
/run.json
/t15148.txt
/test.ini
/tests/ic/*_temp.nim
/tests/megatest.nim
/tests/navigator/*_temp.nim
/tests/vm/tfile_rw.txt
/tools/dochack/dochack.js
~*
bin/*
deinstall.sh
install.sh
mapping.txt
project.xcworkspace/
tags
test.txt
testament.db
testresults
tweeter_test.db
tweeter.db
xcuserdata/

# allow
!/.builds/
!/.github
!/icons/*.o
!/nimdoc/testproject/expected/*


## internal
# ignore
*.deps
nimble.develop
nimble.paths
*.out

# allow
!tests/skip
!LICENSE
