# -diff ignores files on cli diff
# binary interpret it as binary
# linguist-generated=true ignore file in github PRs

**/htmldocs/** -diff
**/htmldocs/** binary
**/htmldocs/** linguist-generated=true
testresults.html -diff
testresults.html binary
testresults.html linguist-generated=true
