## @see https://github.com/nim-lang/Nim/blob/devel/.gitignore
# setup
*
!*.*
!**/

# ignore
.*/
.DS_Store
.tags
*.log
*megatest*
*nimcache
~*
bin/*
outputExpected.txt
outputGotten.txt
testresults

# allow
!/.builds/
!/.github
!/icons/*.o
!/nimdoc/testproject/expected/*


## internal
# ignore
*.bkp
*.deps
*.dtmp
*.out
nimble.develop
nimble.paths

# allow
!tests/skip
!LICENSE
